@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind v4 theme tokens */
@theme {
  --color-bg: #f5f7fb;
  --color-card: #ffffff;

  --color-primary: #22c55e;
  --color-primary-dark: #16a34a;
  --color-accent: #2563eb;

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;
  --color-border: #e2e8f0;
}

body {
  @apply bg-bg text-text-primary;
  font-family: Arial, Helvetica, sans-serif;
}